body {
  background-color: rgb(38, 38, 61);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.buttons {
  display: flex;    
  /* width:100%; */
  flex-direction: row;
  justify-content: center;
  /* background-color: tomato; */
}

.header {
  font-size: 45px;
}

.form-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: chartreuse; */
  width: 600px;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* form stuff */

.label {
  /* width: 10px; */
  color: white;
  /* background-color: crimson; */
}

.welcome {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.alert-msg {
  margin: 10px;
  font-size: 20px;
  color: orange;
}

.input {
  height: 35px;
  width: 300px;

  font-size: 22px;  
  vertical-align: center;
  background-color: rgb(46, 63, 105);
  border: 0px;
  border-radius: 5px;
  color: white;
  padding-left: 8px;
}


/* button */

.send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100px;
  width: 100%;
}

button {
  height: 60px;
  width: 180px;
  margin: 10px;

  font-size: 25px;
  background-color: rgb(93, 93, 199);
  border: 0px;
  border-radius: 9px;
  color:white;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;  
}

::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #F4F1DE; 
}
::-webkit-scrollbar-thumb:hover {
  background: #838070; 
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.rooms-list {
  background-color: #32324d;
  max-height: 400px;
  overflow-y: scroll;
  width: 600px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 10px;
  

  display: flex;
  flex-direction: column;
  align-items: center;
}



.room-name {

  width: 500px;
  background-color: #45456d;
  border-radius: 10px;
  padding-right: 15px;
  margin: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.room-name p{
  font-size: 30px;
  padding-left: 20px;
  /* margin: 10px; */
}

.lb-list {
  width: 600px;
  display: flex;
  flex-direction: column;  
  background-color: #32324d;
  padding: 10px;
  border-radius: 10px;
}

#lb-list-header {
  background-color: rgb(46, 63, 105);
  border-radius: 10px;
}

#name-header, #elo-header, #rank-header {
  font-size: 20px;
}

.lb-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-color: green; */
  margin-top: 5px;
  margin-bottom: 5px;
  /* margin: 5px ; */
  /* padding: 5px; */
  justify-content:space-between;
}

.lb-line-user {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(114, 114, 175);
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* margin: 5px ; */
  /* padding: 5px; */
  justify-content:space-between;
}

.name, .elo, .rank {
  width: 200px;
  /* padding: 5px; */
  /* background-color: grey; */
}

/* #stats {
  display: flex;
  flex-direction: column;
} */

#elo, #lb-rank, #tank-color{
  width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.elo-block, .lb-block, .color-block {
  font-size: 18px;
  padding: 4px;
  border-radius: 6px;
  margin-top: auto;
  margin-bottom: auto;
  /* background-color:rgb(93, 93, 199); */
  background-color:rgb(114, 114, 175);
}